<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vamosjuntos.juntos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/juntos_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="org.vamosjuntos.juntos.CalendarExplore"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.vamosjuntos.juntos.DisplayEvent" />
        <activity android:name="org.vamosjuntos.juntos.Home" />
        <activity android:name="org.vamosjuntos.juntos.DocumentAbuse" />
        <activity android:name="org.vamosjuntos.juntos.Donate" />
        <activity android:name="org.vamosjuntos.juntos.MyCalendar" />
        <activity android:name="org.vamosjuntos.juntos.ReportInstance" />
        <activity android:name="org.vamosjuntos.juntos.AboutUsMission" />
        <activity android:name="org.vamosjuntos.juntos.AboutUsContact" />
        <activity android:name="org.vamosjuntos.juntos.AboutUsHistory" />
        <activity android:name="org.vamosjuntos.juntos.AboutUsLike" />
        <activity android:name="org.vamosjuntos.juntos.PreferencesActivity" />
        <activity android:name="org.vamosjuntos.juntos.Preference" />
        <activity android:name="org.vamosjuntos.juntos.ReportActivity" />
        <activity android:name="org.vamosjuntos.juntos.TextReportActivity" />
        <activity android:name="org.vamosjuntos.juntos.SettingsFragment" />
        <activity android:name="org.vamosjuntos.juntos.FirstLaunchActivity" />
        <activity android:name="org.vamosjuntos.juntos.Rights" />
        <activity android:name="org.vamosjuntos.juntos.AboutUsTab" />
        <activity android:name="org.vamosjuntos.juntos.AudioRecord" />
        <activity
            android:name="org.vamosjuntos.juntos.AbuseActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog" />

        <receiver
            android:name="org.vamosjuntos.juntos.ButtonWidget"
            android:label="Juntos" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/button_widget_info" />
        </receiver>
        <receiver android:name="org.vamosjuntos.juntos.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="org.vamosjuntos.juntos.EventContentProvider"
            android:authorities="org.vamosjuntos.calendarprovider" />

        <service
            android:name="org.vamosjuntos.juntos.NotificationService"
            android:enabled="true" >
        </service>
    </application>

</manifest>